<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

<script>
fetch("{{ include.mapdata }}")
.then(response => 
{
    return response.json();
})
.then(jsonData =>
{
    const stationIcon = L.icon(
    {
        iconUrl: '/assets/icon/map-station.png',
        iconSize: [26,41],
        iconAnchor: [13,40],
        popupAnchor: [0,-30]
    });

    const s2sIcon = L.icon(
    {
        iconUrl: '/assets/icon/marker-sota.png',
        iconSize: [41,41],
        iconAnchor: [12,40],
        popupAnchor: [0,-30]
    });

    const p2pIcon = L.icon(
    {
        iconUrl: '/assets/icon/marker-pota.png',
        iconSize: [41,41],
        iconAnchor: [12,40],
        popupAnchor: [0,-30]
    });

    let map = L.map('{{ include.mapcontainer }}').setView([jsonData.MapConfig.Latitude, jsonData.MapConfig.Longitude], jsonData.MapConfig.Zoom);

    let Stamen_Terrain = L.tileLayer('https://tile.openstreetmap.de/{z}/{x}/{y}.png', 
    {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        subdomains: 'abcd',
        minZoom: 0,
        maxZoom: 10,
        ext: 'png'
    }).addTo(map);

    let myPopUpDescription = jsonData.QTH.Location + "<br />" + jsonData.QTH.Locator;

    if(jsonData.QTH.References !== null && jsonData.QTH.References !== undefined && jsonData.QTH.References.lenght > 0)
    {
        let reference = "<table><thead><tr><th>Reference</th><th>Type</th></tr></thead><tbody>";
        jsonData.QTH.References.forEach(ref =>
        {
            reference = reference + "<tr><td>" + ref.Code + "</td><td>" + ref.Type + "</td></tr>";
        });
        reference = reference + "</tbody></table>";
        myPopUpDescription = myPopUpDescription + reference;
    }

    let myPosition = L.marker([jsonData.QTH.Latitude, jsonData.QTH.Longitude], {icon: stationIcon}).addTo(map);
    myPosition.bindPopup(myPopUpDescription);

    jsonData.QSOs.forEach(qso =>
    {
        let qsoDescription = "<b>" + qso.CallSign + "</b><br />" + qso.Locator;
        let qsoNote = "";

        if(qso.Note !== null && qso.Note !== undefined && qso.Note !== "")
        {
            qsoNote = qso.Note;
        }

        if(qsoNote.includes("S2S:"))
        {
            let s2sAssociations = qsoNote.substring(4, qsoNote.indexOf('/'));
            let s2sRegion = qsoNote.substring(qsoNote.indexOf('/') + 1, qsoNote.indexOf('-'));
            let s2sSummit = qsoNote.substring(qsoNote.indexOf('-') + 1);
            let s2sReference = qsoNote.substring(qsoNote.indexOf('S2S:')+4)

            qsoDescription += "<b>SOTA: </b><a href='https://sotl.as/summits/" + s2sReference + "'>" + s2sReference + "</a>";

            L.marker([qso.Latitude, qso.Longitude], {icon: s2sIcon}).addTo(map).bindPopup(qsoDescription);
        }
        else
        {
            L.marker([qso.Latitude, qso.Longitude]).addTo(map).bindPopup(qsoDescription);
        }
    });
});
</script>

<p>
    <div id="{{ include.mapcontainer }}" style="max-width: 100%;height: 450px;"></div>
</p>