<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

<script>
fetch("{{ include.mapdata }}")
.then(response => 
{
    return response.json();
})
.then(jsonData =>
{
    const stationIcon = L.icon(
    {
        iconUrl: '/assets/icon/map-station.png',
        iconSize: [41,41],
        iconAnchor: [20,40],
        popupAnchor: [0,-30]
    });

    let map = L.map('{{ include.mapcontainer }}').setView([jsonData.MapConfig.Latitude, jsonData.MapConfig.Longitude], jsonData.MapConfig.Zoom);

    let Stamen_Terrain = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}{r}.{ext}', 
    {
        attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        subdomains: 'abcd',
        minZoom: 0,
        maxZoom: 10,
        ext: 'png'
    }).addTo(map);

    let myPopUpDescription = jsonData.QTH.Location + "<br />" + jsonData.QTH.Locator;

    if(jsonData.QTH.Reference !== null && jsonData.QTH.Reference !== undefined && jsonData.QTH.Reference.lenght > 0)
    {
        let reference = "<table><thead><tr><th>Reference</th><th>Type</th></tr></thead><tbody>";
        jsonData.QTH.Reference.forEach(ref =>
        {
            reference = reference + "<tr><td>" + ref.Code + "</td><td>" + ref.Type + "</td></tr>";
        });
        reference = reference + "</tbody></table>";
        myPopUpDescription = myPopUpDescription + reference;
    }

    let myPosition = L.marker([jsonData.QTH.Latitude, jsonData.QTH.Longitude], {icon: stationIcon}).addTo(map);
    myPosition.bindPopup(myPopUpDescription);

    jsonData.QSOs.forEach(qso => 
    {
        let qsoDescription = "<b>" + qso.Call + "</b><br />" + qso.Locator;
        L.marker([qso.Latitude, qso.Longitude]).addTo(map).bindPopup(qsoDescription);
    });
});
</script>

<p>
    <div id="{{ include.mapcontainer }}" style="max-width: 100%;height: 450px;"></div>
</p>