main > .container
{
    padding-top: 5px;
}

.textFormat
{
    font-family: monospace;
    font-size: 10pt;
}

.githubColor
{
    color: #171516;
}

.twitterColor
{
    color: #55acee;
}

.youtubeColor
{
    color: #b00;
}

.linkedinColor
{
    color: #007bb6;
}

.instagramColor
{
    color: #517fa4;
}

.emailColor
{
    color: #3d4144;
}