.logoContainer
{
    display: flex;
    justify-content: center;
}

.callSign
{
    display: flex;
    justify-content: center;
    font-weight: bold;
    background-color: lightblue;
}

.noBottomMargin
{
    margin-bottom: 0px;
}

.noPadding
{
    padding: 0px;
}

.leftBoxMargin
{
    margin-left: 15px;
}